.footer__gradient {
    background: linear-gradient(rgba(51, 33, 29, 0.9), rgba(51, 33, 29, 0.8)), url(/img/bg.jpg);
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
}